@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f1419;
}
::-webkit-scrollbar-thumb {
  background: #1e2a35;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3fbdb6;
}
